@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.add-division {
    margin-bottom: 20px;
}

.add-division p {
    font-size: 24px;
    color: #1b94c3;
}

#openOverlay {
    background-color: #1b94c3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#openOverlay:hover {
    background-color: #127185;
}

/* Overlay Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    position: relative;
}

.overlay-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.inline-f {
    margin-bottom: 15px;
    text-align: left;
}

.inline-f label {
    display: block;
    margin-bottom: 5px;
}

.inline-f .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.function-btn {
    display: flex;
    justify-content: space-between;
}

#add, #cancel {
    background-color: #1b94c3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancel {
    background-color: #ff1717;
}

#add:hover {
    background-color: #127185;
}

#cancel:hover {
    background-color: #d41111;
}
